/*MIXINs*/
/* line 3, ../../src/scss/bottomSection.scss */
.bottom {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: columns;
}
/* line 8, ../../src/scss/bottomSection.scss */
.bottom_section {
  text-align: center;
  width: 100%;
  background: #0a1343;
  color: white;
  border: 1px white solid;
}

/* line 16, ../../src/scss/bottomSection.scss */
.chosenBottomSection {
  width: 560px;
  background: #12183b;
}
