/*hsl(199,87%,22%)*/
/*MIXINs*/
@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@500&display=swap");
/* line 4, ../../src/scss/posts.scss */
.post-titlebar {
  grid-area: posttitle;
  display: block;
  width: 100%;
  overflow: hidden;
  font-family: 'Urbanist', sans-serif;
  font-weight: 900;
  background: #074a69;
  border-bottom: 1.5px solid #074a69;
}
/* line 14, ../../src/scss/posts.scss */
.post-titlebar_title {
  grid-area: articleTitle;
  width: 100%;
  text-align: center;
  padding: 10px 20px;
  padding-bottom: 0;
  font-size: 1.5rem;
  color: white;
  /*background: $color2;*/
}

/* line 26, ../../src/scss/posts.scss */
.post-summary {
  grid-area: postsummary;
  display: block;
  padding: 20px;
  text-align: center;
  font-size: .85rem;
  background: transparent;
  color: white;
}

/* line 36, ../../src/scss/posts.scss */
.article-container {
  display: none;
  margin: 30px;
  border: 1px red solid;
}

/* line 41, ../../src/scss/posts.scss */
.article-title {
  color: #d87855;
}
