/*hsl(199,87%,22%)*/
/*MIXINs*/
@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@500&display=swap");
/* line 18, ../../src/scss/variables.scss */
.disable-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 4, ../../src/scss/posts.scss */
.post-pic {
  grid-area: postpic;
  display: flex;
  justify-content: center;
  background-size: 100%;
  background-size: cover;
  overflow: hidden;
}

/* line 13, ../../src/scss/posts.scss */
.post-titlebar {
  grid-area: posttitle;
  display: block;
  width: 100%;
  padding-bottom: 5px;
  overflow: hidden;
  font-family: 'Urbanist', sans-serif;
  font-weight: 900;
  background: #074a69;
  border-bottom: 1.5px solid #074a69;
}
/* line 24, ../../src/scss/posts.scss */
.post-titlebar_title {
  grid-area: articleTitle;
  width: 100%;
  text-align: center;
  padding: 10px 20px;
  padding-bottom: 0;
  font-size: 1.5rem;
  color: #79cef6;
  background: #074a69;
}

/* line 36, ../../src/scss/posts.scss */
.post-summary {
  grid-area: postsummary;
  display: flex;
  justify-content: center;
  padding: 10px;
  text-align: center;
  font-size: .85rem;
  background: transparent;
  color: white;
}

/* line 47, ../../src/scss/posts.scss */
.article-container {
  display: none;
  margin: 10% 5%;
  padding: 0 20px;
  width: 90%;
  height: 90%;
  color: #d87855;
  overflow-y: auto;
}

/* line 56, ../../src/scss/posts.scss */
.article-title {
  color: #d87855;
  text-align: center;
}

/* line 60, ../../src/scss/posts.scss */
.article-words {
  color: #2a1209;
}
