/*MIXINs*/
@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@500&display=swap");
/* line 3, ../../src/scss/grid.scss */
.prime-container {
  display: grid;
  grid-template-columns: 50% 25.9% .1% 25%;
  grid-template-areas: "hero title skills sect4";
  width: 100%;
  height: 100vh;
  overflow-y: hidden;
}

/* line 15, ../../src/scss/grid.scss */
.hero-column {
  grid-area: hero;
}
/* line 18, ../../src/scss/grid.scss */
.hero-pic {
  display: block;
  width: 100%;
  object-fit: cover;
  height: 100%;
}

/* line 26, ../../src/scss/grid.scss */
.title-column {
  grid-area: title;
  display: grid;
  width: 100%;
  grid-template-rows: 55% 1fr;
  grid-template-areas: "titleContent" "titleImage";
}
/* line 33, ../../src/scss/grid.scss */
.title-column_title-main {
  grid-area: titleContent;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  background: #074a69;
  position: relative;
  text-align: center;
  line-height: 25px;
  padding: 20px 40px;
  font-family: 'Urbanist', sans-serif;
  text-shadow: 0px 2px 5px black;
  border: 5px black solid;
}
/* line 47, ../../src/scss/grid.scss */
.title-column_title-main > div {
  background: transparent;
  font-size: 2rem;
}
/* line 53, ../../src/scss/grid.scss */
.title-sub {
  background: inherit;
  font-size: 1.25rem;
  color: rgba(255, 255, 255, 0.65);
}
/* line 60, ../../src/scss/grid.scss */
.title-column_image {
  grid-area: titleImage;
  width: 100%;
  border: none;
}
/* line 66, ../../src/scss/grid.scss */
.title-pic {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-position: 25% 37%;
  background-size: contain;
  background-repeat: no-repeat;
}

/* line 79, ../../src/scss/grid.scss */
.skills-column {
  grid-area: skills;
  display: grid;
  width: 100%;
  grid-template-rows: 1fr 65%;
  grid-template-areas: "skillsImage" "skillsContent";
  opacity: 0;
}
/* line 87, ../../src/scss/grid.scss */
.skills-column_image-container {
  grid-area: skillsImage;
}
/* line 90, ../../src/scss/grid.scss */
.skills-column_image-container--button-group {
  border: 2px blue solid;
}
/* line 98, ../../src/scss/grid.scss */
.skills-column_skills-main {
  grid-area: skillsContent;
  border: 2px rgba(255, 255, 255, 0.45) solid;
}

/* line 105, ../../src/scss/grid.scss */
.posts-column {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
/* line 109, ../../src/scss/grid.scss */
.posts-column--post-container {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-areas: "posttitle" "postsummary";
  width: 100%;
  margin: 0;
  background: rgba(102, 128, 255, 0.25);
  border: 2px black solid;
  border-left: 0px;
}

/* line 3, ../../src/scss/posts.scss */
.post-titlebar {
  grid-area: posttitle;
  display: block;
  width: 100%;
  overflow: hidden;
  font-family: 'Urbanist', sans-serif;
  font-weight: 900;
  background: #074a69;
  border-bottom: 1.5px solid black;
}
/* line 12, ../../src/scss/posts.scss */
.post-titlebar_title {
  grid-area: articleTitle;
  width: 100%;
  text-align: center;
  padding: 10px 80px;
  font-size: 1.5rem;
  color: white;
  background: #074a69;
}

/* line 23, ../../src/scss/posts.scss */
.post-summary {
  grid-area: postsummary;
  display: block;
  padding: 20px;
  text-align: center;
  font-size: .85rem;
  background: #8793ab;
  color: #074a69;
}

/* line 5, ../../src/scss/styles.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  background: rgba(0, 1, 5, 0.75);
}
