<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Simplolog</title>
	<link rel="stylesheet" href="./css/styles.css">
	<script src="./js/gridwork.js" defer></script>
</head>
<body>

	<div class="prime-container ">
		<div class="prime-container_top  ">
			<div class="top ">
				<div class="top_section " data-section="1">one</div>
				<div class="top_section " data-section="2">two</div>
				<div class="top_section " data-section="3">three</div>
				<div class="top_section " data-section="4">four</div>
			</div>
		</div>
		<div class="prime-container_middlebanner ">
			<div class="middlebanner-text">simple blog powered by cosmicjs headless cms
			</div>
		</div>
		<div class="prime-container_bottom ">
			<div class="bottom ">
				<div class="bottom_section " data-section="5">five</div>
				<div class="bottom_section " data-section="6">six</div>
				<div class="bottom_section " data-section="7">seven</div>
				<div class="bottom_section " data-section="8">eight</div>
			</div>
		</div>
	</div>




	<!-- {{#each posts}}
	<div class="post-{{increment @index}}">{{title}}</div>
	<h3>{{removeHTML content}}</h3>
	{{/each}} -->
</body>
</html>