<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Simplolog</title>
	<link rel="stylesheet" href="./css/styles.css">
	<script src="./js/gridwork.js" defer></script>
</head>
<body>

	<div class="prime-container">
		<div class="prime-container--section hero-column">hero</div>
		<!-----------------TITLE SECTION----------------------->
		<div class="prime-container--section title-column">
			<div class="title-column_title-main">
				<h2>a simple blog layout
				</h2>
			</div>
			<div class="title-column_image">title picture</div>
		</div>
		<!-----------------SKILLS SECTION----------------------->
		<div class="prime-container--section skills-column">
			<div class="skills-column_image-container">skills picture
				<div class="skills-column_image-container--button-group">
					<button class="github-button">github</button>
					<button class="close-button">close technical stuff</button>
			</div>
			</div>
			
			<div class="skills-column_skills-main">
				<h2>skills used</h2>
			</div>
		</div>
		<!-----------------POSTS SECTION----------------------->
		<div class="prime-container--section posts-column">
			{{#each posts}}
				<div class="posts-column--post-container" data-post={{increment @index}}>
					<div class="post-titlebar">
						<div class="post-titlebar_title">title</div>
						<div class="post-titlebar_date">date</div>
					</div>
					
					<div class="post-summary">{{metadata.summary}}</div>
					
				</div>

			{{/each}}
		</div>
	</div>




	
</body>
</html>

lorem