@import "variables";
@import "fonts";
.prime-container{
	display: grid;
	grid-template-columns: 50% 25% 0% 25%;
	grid-template-areas: "hero title skills sect4";
	width: 100%;
	height: 100vh;
	overflow: hidden;
	&--section{
	}
	
}
.hero-column{
	grid-area: hero;
	@at-root{
		.hero-pic{
			display: block;
			width: 100%;
		    object-fit: cover;
			height: 100vh;
			@include accelerate;
			backdrop-filter: saturate(180%) blur(10px);
		}
	}
}
.title-column{
	grid-area: title;
	display: grid;
	width: 100%;
	height: 100vh;
	grid-template-rows: 55% 45%;
	grid-template-areas: "titleContent"
						 "titleImage";
	&_title-main{
		grid-area: titleContent;
		display: flex;
		justify-content: center;
		align-items: flex-end;
		width: 100%;
		background: $color2;
		position: relative;
		text-align: center;
		line-height: 25px;
		padding: 20px 40px;
		@include font1;
		text-shadow: 0px 2px 5px darken($color2,25%);
		@include line(5px,black);
		&>div{
			background: transparent;
			font-size: 2rem;
			
		}
		@at-root{
			.title-sub{
				background: inherit;
				font-size: 1.25rem;
				color: rgba(255,255,255,.65);
			}
		}
	}
	&_image{
		grid-area: titleImage;
		display: block;
		width: 100%;
		border: none;
		background-color: none;
		overflow: hidden;
		@at-root{
			.technically-button{
				float: right;
				text-decoration: none;
				color: $color4;
				margin: 10px;
				margin-bottom: 0px;
				@include font1;
			}
			.title-pic {
				display: inline;
				position: relative;
				width: 101%;
				height: 101%;
				margin: 0px;
				padding: 0px;
				background-position: 25% 0%;
				background-size: cover;
				background-repeat: no-repeat;
				border: 5px black solid;
			}
		}
	}
}
.skills-column{
	grid-area: skills;
	display: grid;
	width: 100%;
	grid-template-rows: 1fr 65%;
	grid-template-areas: "skillsImage"
						 "skillsContent";
	opacity: 0;
	border-right: 2px $color4 solid;
	&_image-container{
		grid-area: skillsImage;
		width: 100%;
		@at-root{
			.skills-pic{
				display: block;
				width: 101%;
				height: 100%;
				margin: 0px;
				padding: 0px;
				background-position: 25% 37%;
				background-size: contain;
				background-repeat: no-repeat;
				// border: 2px black solid;
			}
		}
		&--button-container{
			display: block;
			width: 130px;
			position: relative;
			float:center;
			top: -70px;
			margin: 0 33%;
			background: transparent;
			@at-root{
				.github-button{
					width: 100%;
					height: 40px;
					letter-spacing: 1.5px;
					@include font1;
					background: transparent;
					transition: .65s all;
					&:hover{
						background: #000;
					}
				}
			}
		}
	}
	&_skills-main{
		grid-area: skillsContent;
		border-top:1px white solid;
		@include font1;
		@at-root{
			.close-button{
				$d: 20px;
				display: inline;
				position: relative;
				top: 15px;
				left: 5px;
				width: $d ;
				height: $d ;
				font-size:1.2rem;
				color: darken($color4,35%);
				text-decoration: none;
				padding: 6px 10px;
				border: 2px darken($color4,35%) solid;
				border-radius: $d;
				transition: .65s all;
				&:hover{
					color: $color4;
					border: 2px $color4 solid;
				}
			}
			.skills-title{
				display: block;
				width: 100%;
				text-align: center;
				color: lighten($color2,15%);
				padding: 15px 0px;
			}
			.skills-body{
				padding: 0 30px;
			}
		}
	}
}
.posts-column{
	display: flex;
	flex-direction: column;
	height: 100vh;
	overflow-y: auto;
	@at-root{
		.post{

		}
	}
	&--post-container{
		display: grid;
		grid-template-rows: auto 1fr;
		grid-template-areas: "posttitle"
							"postsummary";
		width: 100%;
		height: 110px;
		margin: 0;
		/*@include line(2px,black);*/
		transition: .35s all;
		&:hover{
			border: 1px $color4 solid;
			box-shadow: inset -10px 0 10px hsla(16, 63%, 59%,.5);
		}
	}
}