@import "variables";
@import "fonts";
.prime-container{
	display: grid;
	// grid-template-columns: 25% 25% 25% 25%;
	grid-template-columns: 50% 25.9% .1% 25%;
	grid-template-areas: "hero title skills sect4";
	width: 100%;
	height: 100vh;
	&--section{
		// @include line(2px,hsla(30,100%,100%,.45));
	}
	overflow:hidden;
}
.hero-column{
	grid-area: hero;
	@at-root{
		.hero-pic{
			display: block;
			width: 100%;
		    object-fit: cover;
			height: 100%;
		}
	}
}
.title-column{
	grid-area: title;
	display: grid;
	width: 100%;
	grid-template-rows: 55% 1fr;
	grid-template-areas: "titleContent"
						 "titleImage";
	&_title-main{
		grid-area: titleContent;
		display: flex;
		justify-content: center;
		align-items: flex-end;
		width: 100%;
		background: $color2;
		position: relative;
		text-align: center;
		line-height: 25px;
		padding: 20px 40px;
		@include font1;
		text-shadow: 0px 2px 5px darken($color2,25%);
		@include line(5px,black);
		&>div{
			background: transparent;
			font-size: 2rem;
			
		}
		@at-root{
			.title-sub{
				background: inherit;
				font-size: 1.25rem;
				color: rgba(255,255,255,.65);
			}
		}
	}
	&_image{
		grid-area: titleImage;
		display: block;
		width: 100%;
		border: none;
		background-color: none;
		overflow: hidden;
		@at-root{
			.technically-button{
				float: right;
				text-decoration: none;
				color: $color4;
				margin: 10px;
				margin-bottom: 0px;
				@include font1;
			}
			.title-pic {
			display: block;
			width: 101%;
			height: 100%;
			margin: 0px;
			padding: 0px;
			background-position: 25% 37%;
			background-size: cover;
			background-repeat: no-repeat;
			border: 2px black solid;
}
		}
	}
}
.skills-column{
	grid-area: skills;
	display: grid;
	width: 100%;
	grid-template-rows: 1fr 65%;
	grid-template-areas: "skillsImage"
						 "skillsContent";
	opacity: 0;
	&_image-container{
		grid-area: skillsImage;
		width: 100%;
		// @include line(2px,hsla(30,100%,100%,.45));
		@at-root{
			.skills-pic{
				display: block;
				width: 101%;
				height: 100%;
				margin: 0px;
				padding: 0px;
				background-position: 25% 37%;
				background-size: cover;
				background-repeat: no-repeat;
				border: 2px black solid;
			}
		}
		&--button-container{
			display: block;
			position: relative;
			float:center;
			top: -70px;
			margin: 15px 33%;
			background: transparent;
			@at-root{
				.github-button{
					width: 100%;
					height: 40px;
					letter-spacing: 1.5px;
					@include font1;
					background: transparent;
					transition: .65s all;
					&:hover{
						background: #000;
					}
				}
				.close-button{}
			}
		}
	}
	&_skills-main{
		grid-area: skillsContent;
		border-top:1px white solid;
		&>h2{
		}
	}
}
.posts-column{
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	&--post-container{
		display: grid;
		grid-template-rows: auto 1fr;
		grid-template-areas: "posttitle"
							"postsummary";
		width: 100%;
		margin: 0;
		background: hsla(230,100%,70%,.25);
		@include line(2px,black);
		border-left: 0px;
	}
}