.prime-container_middlebanner{
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	background: #223;
}
.middlebanner-text{
	color: white;
	font-size: 2rem;
	@include font1;
}