@import "variables";

.post-titlebar{
	grid-area: posttitle;
	display: block;
	width: 100%;
	overflow:hidden;
	@include font1;
	font-weight: 900;
	background: $color2;
	border-bottom: 1.5px solid darken($color2,25%);
	&_title{
		grid-area: articleTitle;
		width: 100%;
		text-align: center;
		padding: 10px 80px;
		font-size: 1.5rem;
		color: white;
		background: $color2;
	}
	
}
.post-summary{
	grid-area: postsummary;
	display: block;
	padding: 20px;
	text-align: center;
	font-size: .85rem;
	background: $color3;
	color: $color2;
}