@import "variables";
@import "fonts";

.post-pic{
	grid-area: postpic;
	display: flex;
	justify-content: center;
	background-size: 100%;
	background-size: cover;
	overflow: hidden;

}
.post-titlebar{
	grid-area: posttitle;
	display: block;
	width: 100%;
	padding-bottom: 5px;
	overflow:hidden;
	@include font1;
	font-weight: 900;
	background: hsla($hue,87%,22%,1);
	
	border-bottom: 1.5px solid $color2;
	&_title{
		grid-area: articleTitle;
		width: 100%;
		text-align: center;
		padding: 10px 20px;
		padding-bottom: 0;
		font-size: 1.5rem;
		color: lighten($color2,50%);
		background: hsla($hue,87%,22%,1);
	}
	
}
.post-summary{
	grid-area: postsummary;
	display: flex;
	justify-content: center;
	padding: 10px;
	text-align: center;
	font-size: .85rem;
	background: transparent;
	color: white;
}

.article-container{
	display:none;
	margin: 10% 5%;
	padding: 0 20px;
	width: 90%;
	height: 90%;
	color: $color4;
	overflow-y: auto;
}
.article-title{
	color: $color4;
	text-align: center;
}
.article-words{
	color:hsl(16, 63%, 10%);
}