@import "variables";
@import "fonts";

.post-titlebar{
	grid-area: posttitle;
	display: block;
	width: 100%;
	overflow:hidden;
	@include font1;
	font-weight: 900;
	background: hsla($hue,87%,22%,1);
	
	border-bottom: 1.5px solid $color2;
	&_title{
		grid-area: articleTitle;
		width: 100%;
		text-align: center;
		padding: 10px 20px;
		padding-bottom: 0;
		font-size: 1.5rem;
		color: white;
		/*background: $color2;*/
	}
	
}
.post-summary{
	grid-area: postsummary;
	display: block;
	padding: 20px;
	text-align: center;
	font-size: .85rem;
	background: transparent;
	color: white;
}

.article-container{
	display:none;
	margin: 30px;
	@include line(1px,red);
}
.article-title{
	color: $color4;
}