@import "variables";
@import "fonts";
.tabs-group{
	display: flex;
	position: absolute;
	right: -2px;
	width: 40px;
	height: 300px;
	top: 185px;
	writing-mode: vertical-rl;
	text-orientation: mixed;transform: rotateZ(180deg);
	background: transparent;
	&>div{
		display: flex;
		flex-direction: reverse-row;
		justify-content: center;
		align-items: center;
		padding: 20px 10px;
		background: hsla(16, 63%, 59%,.35);
		@include disableSelect;
		transition: .55s all;
		&:hover{
			background: hsla(16, 63%, 59%,.85);
		}
	}
	&_other-works{
		@include line(1px,$color2);
		line-height: 12px;
		border-bottom-right-radius: 25px;
		@include font1;
	}
	&_aboutme{
		line-height: 11px;
		text-align: center;
		@include line(1px,$color2);
		@include font1;
		border-top-right-radius: 25px;
		background: transparent;
		&>p{
			background: transparent;
		}
	}
	// &_contact{
	// 	@include line(1px,$color2);
	// 	border-top-right-radius: 25px;
	// 	@include font1;
	// }
}
.hero-section-text-container{
	display: none;
	opacity: 0;
	width: 80%;
	height: 75%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	border: 1px white solid;
	color: white;
	top: 100px;
}
.otherWorks{
	display: block;
	width: 90%;
	height: 90%;
	//flex-direction: column;
	//justify-content: space-evenly;
	color: $color4;
	padding: 20px 0;
	background: rgba(0,0,0,.5);
	@include disableSelect;
	// @include line(2px,red);
	&--linkContainer{
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		width: 100%;
		height: 100px;
		color: $color4;
		background: transparent;
		padding: 5px auto;
		border-bottom: 1px rgba(0,0,0,.75) solid;
		&_title{
			text-align: center;
			background: transparent;
			padding: 13px;
			line-height: 15px;
		}
		&_url{
			position: relative;
			top: -5px;
			text-decoration: none;
			text-align: center;
			font-size: .85rem;
			color:hsl(16, 63%, 79%);
			background: transparent;
			padding: 15px auto;
		}
		&_description{
			//@include line(2px,red);
		}
	}
}
h2{
	@include disableSelect;
}

.aboutMe{
	display: block;
	width: 90%;
	height: 90%;
	// @include line(2px,red);
	@include font1;
	padding: 15px;
	overflow-y: auto;
	background: rgba(0,0,0,.5);
	text-indent: 20px;
	&>p{
		background: transparent;
	}
}

.tabsArea-close-container{
	width: 100%;
	&_button{
	@include font1;
	$d: 25px;
	display: flex;
	position: relative;
	top: 8px;
	left: 92%;
	justify-content: center;
	align-items: center;
	width: $d ;
	height: $d ;
	background: transparent;
	font-size:1.2rem;
	color: darken($color4,35%);
	text-decoration: none;
	padding: 6px 10px;
	border: 2px darken($color4,35%) solid;
	border-radius: $d;
	transition: .65s all;
	&:hover{
		color: $color4;
		border: 2px $color4 solid;
	}
}
}



.orange-span{
	color: $color4;
	font-size: 1.05rem;
	background: transparent;
}